p {
    width: 25vw;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.halfscreen {
    width: 50vw;
}

#navigation {
    text-align: center;
}

#movies img, #movie img{
    width: 100%;

}
@media (min-width:960px){
#movies .col-md-3 .well{
    height: 400px;
}
#movies .col-md-3 img{
    height: 240px;
}
}

