p {
    width: 25vw;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.halfscreen {
    width: 50vw;
}

#navigation {
    text-align: center;
}

li {
    font-size: 200%;
    padding: 10px;
}

ul {
    text-align: center;
}

#brandIcon {
    font-size: 250%;
}